<md-card *ngIf="(showVoteButton$ | async) === true" class="schedule-entry">
  <md-card-content style="text-align:center">
    <button md-raised-button (click)="vote()" color="primary" class="vote-button">😱 😱 😱 <strong>Abstimmen!</strong> 😱 😱 😱</button>
  </md-card-content>
</md-card>

<md-card *ngFor="let entry of scheduleEntries" class="schedule-entry">
  <md-card-title-group>
    <md-card-title>{{ entry.title }}</md-card-title>
    <md-card-subtitle>{{ entry.speaker }}</md-card-subtitle>
  </md-card-title-group>
  <md-card-content>
    <span class="badge">Start: {{ entry.start }} Uhr</span> <span class="badge">Kino {{ entry.cinemaHall }}</span> <span class="badge">{{ entry.category }}</span>
  </md-card-content>
</md-card>