.fill-remaining-space {
  flex: 1 1 auto;
}

.connection-state {
  border: 2px #fff solid;
  padding: 0 5px;
  border-radius: 4px;
}

.app-content {
  padding: 75px 20px 20px 20px;
}

.toolbar {
  position: fixed;
  z-index: 999;
}